@import 'variable';
@import 'font';

body {
    font-family: iranyekan, var(--bs-body-font-family);

    footer {
        .copyright {
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(20px);

            small {
                color: #dddddd;
            }
        }
    }

    .bi {
        display: inline-flex;
    }
}