@import 'variable';
@import 'font';
@import 'utility';

:root {
    --bs-border-color: #8E8E8E;
}

body {
    font-family: iranyekan, var(--bs-body-font-family);
    background-color: $white-2;
    width: 100%;
    overflow-x: hidden;

    header {
        z-index: 1;

        nav {
            background-color: transparent;

            @media screen and (max-width:992px) {
                background-color: $white-2;
            }
        }

        .navbar-brand {
            span {
                font-weight: 900;
                background: linear-gradient(89.92deg, #1C336C 0.23%, #008EC7 100.1%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-shadow: 0 0.5rem 1.5rem $white;
            }
        }

        .navbar-nav {
            .dropdown {
                >a {
                    display: flex;
                    background-color: $color-1;
                    border-radius: 0.5rem;
                    align-items: center;
                    color: $white;
                }
            }
        }
    }

    main {
        .intro {
            margin-top: -3.5rem;
            background-image: url('../images/header.png');
            width: 100%;
            height: 120vh;
            background-size: cover;
            background-repeat: no-repeat;
            clip-path: ellipse(100% 100% at 50% 0%);

            .airplane {
                position: absolute;
                right: 0;
                top: 13.125rem;
                width: 40%;
                max-width: 43.75rem;

                @media screen and (max-width:992px) {
                    top: 25%;
                    width: 50%;
                }

                @media screen and (max-width:768px) {
                    top: unset;
                    width: 55%;
                    bottom: -10vh;
                }

                @media screen and (max-width:576px) {
                    display: none;
                }
            }

            .container {
                height: 80%;
                display: flex;
                align-items: center;

                @media screen and (max-width:992px) {
                    margin-top: 3.5rem;
                    justify-content: center;
                }

                h1 {
                    letter-spacing: 0.2em;
                    background: linear-gradient(89.92deg, #1C336C 0.23%, #008EC7 100.1%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    //text-shadow: 0px 8px 24px #FFFFFF;
                    font-weight: 900;
                }

                p {
                    max-width: 29.375rem;
                }
            }
        }

        .intro-inner {
            position: relative;
            background: linear-gradient(88.2deg, rgba(24, 53, 108, 0.9) 0%, rgba(3, 128, 184, 0.9) 100%),
                url('../images/intro.png');
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 0 1rem 2rem rgba(0, 38, 56, 0.25);
            border-radius: 0.5rem;
            min-height: 15rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 0 7.5rem;
            margin-top: -20vh;

            @media screen and (min-width:992px) and (max-width:1200px) {
                justify-content: center;
            }

            @media screen and (max-width:768px) {
                justify-content: center;
                padding: 0 2rem;
            }

            .box {
                width: 12.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 3rem 2rem;
                border-radius: 0.5rem;
                align-self: flex-start;
                transition: .3s all ease-in-out;

                @media screen and (max-width:992px) {
                    margin-top: -1.5rem;
                }

                &:hover {
                    background: $color-1;
                    box-shadow: 0 0.25rem 3.125rem rgba(1, 136, 192, 0.5);

                    @media screen and (min-width:992px) {
                        margin-top: -1.5rem;
                    }
                }

                p {
                    color: $white-2;
                }

                h5 {
                    color: $white;
                }
            }
        }

        .header {
            text-align: center;
            text-transform: capitalize;
            color: $color-1;
            margin-top: 7.5rem;

            @media screen and (max-width:992px) {
                margin-top: 5rem;
            }

            @media screen and (max-width:576px) {
                margin-top: 3rem;
            }
        }

        .seprator {
            display: flex;
            align-items: center;
            width: 9.375rem;

            &::before,
            &::after {
                content: "";
                flex: 1 1 0%;
                height: 1px;
                background: linear-gradient(90deg, #0188C0 0%, rgba(1, 136, 192, 0) 100%);
            }

            &::before {
                transform: matrix(-1, 0, 0, 1, 0, 0);
            }
        }

        .sub-header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            color: $black-2;

            p {
                text-transform: capitalize;
                font-size: 1.125rem;
                line-height: 1.875rem;
            }
        }

        .background-image-blur {
            @media screen and (max-width:992px) {
                display: none;
            }

            @media screen and (min-width:992px) {
                position: absolute;
                width: 31.25rem;
                height: 31.25rem;
                background: linear-gradient(93.33deg, rgba(37, 34, 98, 0.4) 0%, rgba(16, 101, 162, 0.4) 100%);
                filter: blur(6.25rem);
                z-index: -1;
            }
        }

        .treatments-background {
            right: 0;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        .treatments-card {
            figcaption {
                text-transform: capitalize;
                background: linear-gradient(85.6deg, rgba(24, 51, 101, 0.8) 0%, rgba(13, 122, 172, 0.8) 100%);
                backdrop-filter: blur(0.5rem);
                border-radius: 0 0 0.5rem 0.5rem;
            }
        }

        .linkedin {
            margin-top: 7.5rem;

            @media screen and (max-width:992px) {
                margin-top: 5rem;
            }

            @media screen and (max-width:576px) {
                margin-top: 3rem;
            }
        }

        .tourist-background {
            left: 0;
            top: 100%;
            transform: translate(50%, -50%) rotate(45deg);
        }

        .testimental {
            background-color: rgba(25, 52, 107, 0.1);
            padding: 4rem 0;

            @media screen and (max-width:576px) {
                padding: 2rem 0;
            }

            .testimental-card {
                margin-top: 3.5rem;

                .quote-before,
                .quote-after {
                    display: inline-flex;
                    position: absolute;
                    top: 1.5rem;
                }

                .quote-before {
                    left: .75rem;
                }

                .quote-after {
                    right: .75rem;
                }

                >img {
                    margin: -3.5rem auto .75rem;
                }

                h5,
                h6 {
                    color: $color-1;
                }

                p {
                    color: $black-2;
                }
            }
        }

        .services {
            margin-bottom: 7.5rem;

            @media screen and (max-width:992px) {
                margin-bottom: 5rem;
            }

            @media screen and (max-width:576px) {
                margin-bottom: 3rem;
            }

            h5 {
                color: #575757;
            }

            .background-style {
                height: 25rem;
                margin-top: 7.75rem;

                & {
                    @media screen and (max-width:992px) {
                        margin-top: 15rem;
                    }

                    @media screen and (max-width:768px) {
                        margin-top: 6rem;
                    }

                    @media screen and (max-width:576px) {
                        height: auto;
                    }
                }
            }

            img {
                width: 90%;
                left: auto;
                right: 0;
                top: auto;
                bottom: 7.75rem;

                @media screen and (max-width:1400px) {
                    bottom: 3.25rem;
                }

                @media screen and (max-width:1200px) {
                    bottom: -1.5rem;
                }

                @media screen and (max-width:992px) {
                    bottom: 18.5rem;
                }

                @media screen and (max-width:768px) {
                    bottom: 7.25rem;
                }

                @media screen and (max-width:576px) {
                    bottom: 0;
                }
            }
        }

        .transfrom-service {
            @media screen and (min-width:992px) {
                transform: translateY(3.125rem);
            }
        }

        .services-card {
            transition: .3s all ease-in-out;
            margin-bottom: 5rem;

            &:hover {
                filter: drop-shadow(0px 4px 24px rgba(25, 52, 107, 0.25));

                path {
                    fill: $color-2;
                }
            }

            .avatar {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6.25rem;
                height: 6.25rem;
                margin: -3.5rem auto .75rem;
                background-color: $color-1;
                box-shadow: 0px 4px 16px rgba(25, 52, 107, 0.5);
            }

            h5 {
                color: $color-1;
            }

            p {
                color: $black-2;
            }
        }

        .weblog-background {
            right: 0;
            top: 100%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        .subscription {
            margin: 12rem auto;

            @media screen and (max-width:992px) {
                margin: 9rem auto;
            }

            @media screen and (max-width:576px) {
                margin: 6rem auto;
            }

            .email-subscription {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: auto;
                padding: 3.75rem 1rem;

                @media screen and (min-width:992px) {
                    width: 80%;
                }

                h5 {
                    color: $color-1;
                }

                div {
                    min-width: 45%;

                    input,
                    button {
                        padding: 0.75rem 1.5rem;
                    }

                    input {
                        box-shadow: $card-shadow;
                    }
                }
            }
        }

        .background-style {
            position: relative;
            background: $white-2;
            box-shadow: $card-shadow;
            border-radius: 0.5rem;

            & {
                @media screen and (max-width:576px) {
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: .5rem;
                z-index: -1;
            }

            &::before {
                background: linear-gradient(93.33deg, rgba(37, 34, 98, 0.75) 0%, rgba(16, 101, 162, 0.75) 100%);
                transform: rotate(-3deg);

            }

            &::after {
                background: linear-gradient(93.33deg, rgba(37, 34, 98, 0.25) 0%, rgba(16, 101, 162, 0.25) 100%);
                transform: rotate(-6deg);
            }
        }
    }

    footer {
        position: relative;
        background-image: url('../images/footer.png');
        background-size: cover;
        background-position: top;
        clip-path: ellipse(110% 100% at 50% 100%);
        padding-top: 3.5rem;

        & {
            @media screen and (max-width:992px) {
                clip-path: ellipse(150% 100% at 50% 100%);
            }

            @media screen and (max-width:768px) {
                clip-path: ellipse(180% 100% at 50% 100%);
            }

            @media screen and (max-width:576px) {
                clip-path: ellipse(220% 100% at 50% 100%);
            }
        }

        button {
            background-color: transparent;
            background-image: url('../images/footer-button.svg');
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 131px;
            height: 44px;
            border: 0;
            border-radius: 0px 0px 70px 70px;
        }

        .col-lg-4 {
            h6 {
                font-weight: 900;
                background: linear-gradient(180deg, #FFFFFF 21.3%, #74F7FF 100%, #FF00D6 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-shadow: 0px 4px 16px rgba(25, 52, 107, 0.5);
                letter-spacing: 0.2em;
                line-height: 54px;
            }

            p {
                color: rgba(221, 221, 221, 0.8);
            }

            .symbol {
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: .5rem;
                padding: .875rem;

                &:not(:last-child) {
                    margin-right: 1.5rem;
                }

                img {
                    filter: drop-shadow(0px 4px 24px rgba(25, 52, 107, 0.25));
                }
            }
        }

        li {
            color: #DDDDDD;

            a {
                display: block;
                text-decoration: none;
                text-transform: capitalize;
                color: inherit;

                &:hover {
                    color: #FFFFFF;
                }
            }
        }

        .copyright {
            margin-top: 2rem;
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(1.25rem);

            small {
                color: #dddddd;
            }
        }
    }

}


.card,
.card-hover {
    transition: 0.3s all ease-in-out;

    h5 {
        color: $color-1;
    }

    &:hover {
        box-shadow: $card-shadow;
    }
}


.card-drop-hover {
    &:hover {
        filter: drop-shadow($card-shadow);
    }
}

.bi {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:576px) {
    .glide {
        padding: 0 .75rem;
    }
}

@media screen and (min-width:992px) {
    .glide__slide {
        transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
        opacity: 0.5;
    }

    .glide__slide--active {
        opacity: 1;
    }
}

.glide__arrows {
    text-align: center;
    margin-top: 1.5rem;
}

.glide__arrow {
    padding: 0.5rem;
    position: initial;
    transform: none;
    border: none;
    display: inline-flex;
    background-color: $color-1;
    border-radius: .5rem;
}

.btn-primary {
    background-color: $color-1;
    border-color: $color-1;

    &:hover {
        background-color: lighten($color-1, 5%);
    }
}